

body {
    font-family: 'Montserrat', sans-serif;
}
.bg.danger {
    background-color: rgb(230, 69, 69)!important;
}
.bg-success {
    background-color: rgb(51, 206, 121)!important;
}
.bg-arning {
    background-color: rgb(230, 214, 69)!important;
}
.bg-secondary {
    background-color: rgb(81, 2, 128)!important;
}

/* navegacion */


/*---------------------------------*/
.embed-responsive {
    position: relative;
    background-image: url(../img/banda.jpg);
    height: auto;
    background-position: center center;
}
@media (min-width:992px) {
    .embed-responsive {
        background-image: unset;
        height: auto;
    }
}
.embed-responsive::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,8f0222+10,000000+100&0.5+0,0.5+100 */
    background: -moz-linear-gradient(top,  rgba(169,3,41,0.5) 0%, rgba(143,2,34,0.5) 10%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(169,3,41,0.5) 0%,rgba(143,2,34,0.5) 10%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(169,3,41,0.5) 0%,rgba(143,2,34,0.5) 10%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80a90329', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}
.informacion-concierto {
    position: absolute;
    top: 20%;
    z-index: 100;
}
@media (min-width:992px) {
    .informacion-concierto {
        top: 35%;
    }
}
.informacion-concierto h1 {
    font-size: 3rem;
    line-height: 6rem;
}
@media (min-width:992px) {
    .informacion-concierto h1 {
        font-size: 4rem;
        line-height: unset;
    }
}
.informacion-concierto h1 span,
.informacion-concierto p {
    font-weight: 700;
    -webkit-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
}
.informacion-concierto p {
    font-size: 2rem;
}
.informacion-concierto .text-dark,
.sobre-festival .text-dark {
    color: rgb(230, 69, 69)!important;
    font-weight: 700;
}
/*----------LineUp-----------------------------*/
.separador::after {
    content: '';
    display: block;
    height: 120px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 150px;
    margin: 0 auto;
}
.rock::after {
    background-image: url(../img/guitarra.png);
}
.dj::after {
    background-image: url(../img/dj.png);
}
.horario.bg-warning li:nth-child(2n+1) {
    background-color: rgba(180, 167, 45, 0.26)!important;
}
.horario.bg-success li:nth-child(2n+1) {
    background-color: rgba(32, 160, 89, 0.37)!important;
}
/**/
.fecha {
    font-size: 2.8rem;
}
.fecha span {
    font-weight: 700;
}
.fecha span::before {
    content: '-';
}
.fecha span:first-child::before {
    display: none;
}
/*Boletos*/
.boletos .precio {
    font-size: 2rem;
}
.boletos .active {
    background-color: brown!important;
    border-color: brown!important;
}
.list-group-item-success {
    background-color: #4cb8b3!important;
}